footer.footer
            .wrapper
                .footer__content
                    .footer__link
                        a(href="#") Privacy Policy
                        a(href="#") Terms and Conditions
                        a(href="#") Contact Us

                    .footer__item
                        .footer__left
                            .footer__icn
                                img(src="./images/i/icn12.svg", alt="") 
                                
                        .footer__right
                            span New York 
                            span 83 Margot Corner Apt. 667
                            span 95018-6545

                    .footer__item
                        .footer__left
                            .footer__icn.phone
                                img(src="./images/Shape.png", alt="") 
                        .footer__right
                            a(href="mailto:beatty.brown@gmail.com") beatty.brown@gmail.com
                            a(href="tel:2611987507") 261-198-7507