.sect6{
    background-image: url(../images/imagehomepage.png);
    padding: rem(89)  0 rem(102) 0;
    
    &__title{
        margin-bottom: rem(48);
    }

    &__blockslider{
        padding: 0 rem(150);
        position: relative;
    }

    .slider-services{
        overflow: hidden;

        &__top{
            display: flex;
            margin-bottom: rem(26);
        }

        &__left{
            padding-right: rem(29);
        }

        &__bloclfoto{
            width: rem(70);
            height: rem(70);
            border-radius:  50%;
            overflow: hidden;
            img{
                width: 100%;
            }
        }

        &__title{
            border-bottom: 1px solid $white;
            padding-bottom: rem(14.5);
            margin-bottom: rem(17.5);
            span{
                font-weight: 500;
                line-height: rem(24);
                font-size: rem(20);
                letter-spacing: rem(0.909091);
                color: $maintext;
            }
        }

        &__desc{
            p{
                font-weight: 600;
                line-height: rem(20);
                font-size: rem(12);
                letter-spacing: rem(2);
                text-transform: uppercase;
                color: $maintext;
            }
        }
    }

    
    .swiper-services-button-prev, .swiper-services-button-next{
        background-size: cover;
        outline: none;
        width: rem(50);
        height: rem(50);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        &:hover{
            transform: translateY(-50%) scale(1.2);
        }
        &:active{
            transform: translateY(-50%) scale(1);
        }
    }

    .swiper-services-button-prev{
        background-image: url(../images/arrowleft.png);
        left: 0;
    }

    .swiper-services-button-next{
        background-image: url(../images/arrowright.png);
        right: 0;
    }
}


@media screen and (max-width:769px){
    .sect6{
        background-repeat: no-repeat;
        background-size: cover;

        &__blockslider{
            padding: 0;
        }

        .swiper-services-button-prev, .swiper-services-button-next{
            top: inherit;
            bottom: -100px;
        }
        
    }
}