.button{
    width: rem(270);
    height: rem(59);
    border-radius: rem(100);
    background-color: $white;
    border: none;
    font-weight: bold;
    line-height: rem(16);
    font-size: rem(14);
    text-align: center;
    letter-spacing: rem(3);
    text-transform: uppercase;
    color: $maintext;
    outline: none;
    transition: none;
    cursor: pointer;
    transition: 0.2s;
    &:hover{
        transform: scale(1.05);
        transition: 0.2s;
    }
    &:active{
        box-shadow: inset 0 0 rem(23) rgba(177, 160, 160, 0.6);
        transition: none ;
    }
    &_black{
        background-color: $black;
        color: $white;
        height: rem(58);
        &:active{
            box-shadow: inset 0 0 rem(33) rgba(88, 88, 88, 0.4);
        }
    }
}


@media screen and (max-width:769px){
    .button{
        font-size: 13px;
        width: 240px;
        height: 50px;
    }
}
